.material-icons.contact-icon {
  font-size: 80px;
}
.contact-list-item {
  font-family: "Century Gothic", Arial, sans-serif;
  margin: 1em 1em 0 1em;
  background-color: #222;
  color: #aaa;
}

.contact-list-item-icon {
  background: #333;
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
}

md-card-content {
  margin: 1em 1.5em;
}

.contact-list-item .contact-list-item-data {
  font-size: 1em;
  line-height: 1.5em;
}

.contact-list-item .contact-list-item-heading {
  font-size: 1.3em;
}
