.material-icons.contact-icon {
  font-size: 80px;
}
.contact-list-item {
  font-family: "Century Gothic", Arial, sans-serif;
  margin: 1em 1em 0 1em;
}

.contact-list-item-icon {
  padding: 1.5em 0.5em;
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

md-card-content {
  margin: 0 1.5em 1em 1.5em;
  min-width: 300px;
}

.contact-list-item .contact-list-item-data {
  font-size: 1em;
  line-height: 1.5em;
}

.contact-list-item .contact-list-item-heading {
  font-size: 1.3em;
}

@media all and (max-width: 815px) {
  md-card-content {
    min-width: auto;
  }
}
