<md-card class="contact-list-item ca-color-primary-dark">
  <div md-card-image class="contact-list-item-icon ca-color-primary" fxLayout="row" fxLayoutAlign="start start" >
    <md-card-header>
      <i class="material-icons contact-icon">face</i>
    </md-card-header>
    <md-card-content class="contact-list-item-data">
      <h2 class="contact-list-item-heading">{{contact.firstName}} {{contact.lastName}}</h2>
      <p>{{contact | address}}<br />{{contact.phone}}</p>
    </md-card-content>
  </div>
  <md-card-actions fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <button md-icon-button class="contact-list-item-action ca-color-accent" (click)="removeContact()">
        <md-icon class="md-30">delete</md-icon>
      </button>
      <button md-icon-button class="contact-list-item-action ca-color-accent" (click)="editContact()">
        <md-icon class="md-30">mode_edit</md-icon>
      </button>
    </div>
    <button md-icon-button class="contact-list-item-action ca-color-accent" (click)="showContactOnMap()">
      <md-icon class="md-30">location_on</md-icon>
    </button>
  </md-card-actions>
</md-card>

