<div class="login-wrap" fxLayout="row" fxLayoutAlign="center">
  <md-card fxLayout="column" fxLayoutAlign="start stretch" >
    <div class="login-header" md-card-image fxLayout="row" fxLayoutAlign="start end">
      <md-icon class="app-icon">people</md-icon>
      <h1>Contacts-app</h1>
    </div>
    <div class="login-form" fxLayout="column" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="end end">
        <div fxLayout="row" fxLayoutAlign="start center">
          <md-icon class="md-30">account_circle</md-icon>
          <md-input-container floatPlaceholder="auto">
            <input mdInput name="userName"
                   id="userName"
                   [(ngModel)]="user.userName"
                   type="text"
                   placeholder="User name"
                   (keypress)="handleEnter($event)">
          </md-input-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <md-icon class="md-30">lock_open</md-icon>
          <md-input-container floatPlaceholder="auto">
            <input mdInput name="password"
                   id="password"
                   [(ngModel)]="user.password"
                   type="password"
                   placeholder="Password"
                   (keypress)="handleEnter($event)">
          </md-input-container>
        </div>

        <div *ngIf="this.legend" fxLayout="row" fxLayoutAlign="start center">
          <span class="legend">{{this.legend}}</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="end">
          <button type="submit" class="login-button" hapticClick md-raised-button (click)="loginUser()" color="accent"
                  [disabled]="!(user.userName && user.password)">Log
            in</button>
        </div>
      </div>
    </div>
  </md-card>
</div>
