form > div {
  padding: 1em;
}
md-card-header {
  display: block;
  height: 150px;
  margin: 3em 0;
}
.app-icon {
  font-size: 120px;
}
md-card {
  font-family: "Century Gothic", Arial, sans-serif;
  background-color: #222;
  color: #aaa;
}
md-card-content {
  padding: 0;
}
md-card-actions {
  padding: 0 1em 1em 0 !important;
}
md-icon {
  margin-right: 15px;
  margin-bottom: 15px;
}
md-input-container {
  display: block;
  margin: 1em 0;
  color: #888;
}
input {
  color: #888;
}
button {
  background-color: rgba(200, 255, 30, 0.5) !important;
  color: #000;
}
button:active {
  background-color: rgb(200, 255, 30) !important;
}

button[disabled], button[disabled]:active {
  background-color: #444 !important;
}
