.login-wrap {
  position: relative;
  top: 10vh;
  overflow: hidden;
}
md-card {
  font-family: "Century Gothic", Arial, sans-serif;
  overflow: hidden;
  border-radius: 3px;
}
.login-header {
  color: #fff;
  background-image: url('../../../assets/app-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5em;
}
.login-header h1 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 2em;
}
.app-icon {
  display: block;
  width: 1em;
  height: 0.7em;
  font-size: 100px;
  color: #fff;
  margin: 0;
  margin-bottom: -0.2em;
  margin-right: 0.1em;
  padding: 0;
}
.login-form {
  background-color: #fff;
  padding: 2em 0;
  padding-bottom: 2.5em;
}
md-icon {
  margin-right: 15px;
  margin-bottom: 15px;
  color: #878787;
}
.login-button {
  margin-top: 1em;
}

@media all and (max-width: 400px) {
  .login-wrap {
    width: auto;
    height: 100vh;
    position: static;
  }
  md-card {
    width: 100vw;
  }
  .login-header {
    padding-top: 30px;
  }
  .app-icon {
    font-size: 80px;
    margin-bottom: -0.25em;
  }
  .login-header h1 {
    font-size: 1.5em;
    margin-bottom: -0.3em;
  }
}
