<md-sidenav-container class="ca-color-primary-light">
  <md-sidenav *ngIf="toolbarVisible" #sidenav [mode]="sidenavMode"
              [opened]="sidenavMode == 'side'"
              align="start">
    <div class="user-info" fxLayout="row" fxLayoutAlign="start">
      <i class="material-icons user-icon">account_circle</i>
      <div>
        <h2>Erkki Esimerkki</h2>
        <span>erkki.esimerkki@gmail.com</span>
      </div>
    </div>
    <div class="sidenav-content">
      Sidenav content
    </div>
  </md-sidenav>
  <md-toolbar *ngIf="toolbarVisible" color="primary">
    <button hapticClick md-icon-button (click)="toggleSidenav()">
      <md-icon class="md-30">dehaze</md-icon>
    </button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>
