md-sidenav-container {
  height: 100vh;
}
md-sidenav {
  width: 20vw;
  min-width: 320px;
  max-width: 90vw;
  font-size: 1.25em;
}
.user-info {
  padding: 1em;
  background-image: url('../assets/app-bg.png');
  background-size: cover;
  color: #fff;
}
.user-info h2 {
  font-size: 1.1em;
  line-height: 1em;
}
.user-info span {
  font-size: 0.9em;
}
.material-icons.user-icon {
  font-size: 50px;
  margin-right: 10px;
}
.user-info h2 {
  margin: 0;
}

.user-info button {
  margin: 1em 0 0;
}

.sidenav-content {
  margin: 1em;
}

