.app-button {
  margin: 1em 1.5em;
}
.list-placeholder {
  text-align: center;
  opacity: 0.4;
}
.list-placeholder md-icon {
  display: block;
  font-size: 240px;
  margin-left: -200px;
}
.list-placeholder span {
  display: block;
  margin: 180px -20px 0 0;
  font-size: 1.75em;
  font-weight: 900 !important;
}
